@model IEnumerable<MvcMovie.Models.Hethongphanphoi>

@{
    ViewData["Title"] ="Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class ="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HTPPId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTPPName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(Modelitem => item.HTPPId)
                </td>
                <td>
                    @Html.DisplayFor(Modelitem => item.HTPPName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HTPPId"></a>
                </td>

            </tr>

        }
    </tbody>
</table>